.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
.m-header,.m-header img{height:100%;width:100%}
.m-header .m-h1{margin-top:-.2rem}
.mhome .mbottom{height:5rem;width:100%;background-color:#202835;display:-ms-flexbox;display:flex;box-sizing:border-box;padding:1rem 2rem}
.mhome .mbottom>div{-ms-flex:1;flex:1;position:relative}
.mhome .mbottom>div>a{width:50%;height:2rem}
.mhome .mbottom>div>a>img{width:50%;height:100%;position:absolute;left:50%;transform:translateX(-50%)}
.mhome .mba{width:6rem;height:auto;text-align:center;position:fixed;left:0;bottom:6rem}
.mhome .mba>a,.mhome .mba>a>img,html{width:100%;height:100%}
html{margin:0!important}
#app,.bb,.bb .aa,.bb .aa>img,body{width:100%;height:100%}
.hearer{width:100%;position:absolute;z-index:12321}
.hearer .hearerone{width:100%;height:1.8rem}
.hearer .hearer1{width:4rem;height:100%;float:left;margin-left:1.5rem;margin-top:1rem}
.hearer .hearer2{width:2.5rem;height:100%;float:right;margin-right:1.5rem;margin-top:1rem}
.hearer .middle{margin-top:2rem;width:100%}
.bb .middle ul{width:100%}
.bb .middle ul li{width:100%;height:3rem;background-color:hsla(0,0%,100%,.95);text-align:center;line-height:3rem;border:0}
#nav4{margin-top:-.5rem}
.bb .middle{width:71%;background-color:hsla(0,0%,100%,.95);right:-100%;box-sizing:border-box;transition:all .4s linear;z-index:3;-webkit-transition:all .4s linear;-moz-transition:all .4s linear;-o-transition:all .4s linear}
.Mask,.bb .middle{height:100%;position:fixed;top:0}
.Mask{width:100%;background-color:rgba(0,0,0,.5);z-index:2;display:none}
.aa .lmore{position:absolute;top:88%;right:40%;cursor:pointer;color:hsla(0,3%,70%,.5);animation:change1 1.5s ease-in infinite}
@keyframes change{0%{text-shadow:0 0 4px red}
50%{text-shadow:0 0 40px red}
to{text-shadow:0 0 4px red}
}
.bb .ICO{position:absolute;left:0;bottom:0;left:47%;color:hsla(0,3%,70%,.5);font-size:26px;top:93%;animation:change1 1.5s ease-in infinite}
@keyframes change1{0%{opacity:0}
50%{opacity:1}
to{opacity:0}
}
*{margin:0;padding:0}
body,html{width:100%;height:100%}
body{margin:0!important}
.mblok{width:100%}
.mblok img{width:100%;height:auto}
@font-face{font-family:iconfont;src:url(//at.alicdn.com/t/font_538230_dzzii2d47qu.eot);src:url(//at.alicdn.com/t/font_538230_dzzii2d47qu.eot#iefix) format("embedded-opentype"),url(//at.alicdn.com/t/font_538230_dzzii2d47qu.woff) format("woff"),url(//at.alicdn.com/t/font_538230_dzzii2d47qu.ttf) format("truetype"),url(//at.alicdn.com/t/font_538230_dzzii2d47qu.svg#iconfont) format("svg")}
.iconfont[data-v-7c8598d4]{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale}
.h_header[data-v-7c8598d4]{position:fixed;width:100%;z-index:5;background:linear-gradient(#1a1919,rgba(18,20,29,.1))}
.h_header .h_wrap[data-v-7c8598d4]{width:70%;height:65px;line-height:65px;margin:0 auto;padding:0 10%;box-sizing:border-box;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.h_header .h_wrap img[data-v-7c8598d4]{height:50%}
.h_header .h_wrap ul[data-v-7c8598d4]{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.h_header .h_wrap ul li[data-v-7c8598d4]{float:left;color:#fff;margin-left:50px;cursor:pointer}
.h_header .h_wrap ul li.active[data-v-7c8598d4]{border-bottom:2px solid #fff}
.img_box[data-v-7c8598d4]{background-color:#f5f6fb}
.img_box img[data-v-7c8598d4]{width:100%}
.img_box .banner[data-v-7c8598d4]{position:relative}
.img_box .banner .tomore[data-v-7c8598d4]{position:absolute}
.img_box .banner .lmore[data-v-7c8598d4]{position:absolute;top:88%;right:47.5%;cursor:pointer;color:hsla(0,3%,70%,.5);animation:change-data-v-7c8598d4 .5s ease-in infinite}
.img_box .banner .lmore .moreicon[data-v-7c8598d4]{display:block;text-align:center}
@keyframes change-data-v-7c8598d4{0%{text-shadow:0 0 4px red}
50%{text-shadow:0 0 40px red}
to{text-shadow:0 0 4px red}
}
.img_box .HRC[data-v-7c8598d4]{position:relative}
.img_box .HRC .f-img[data-v-7c8598d4]{position:absolute;width:20%;cursor:pointer;transition:width .5s}
.img_box .HRC .f-img[data-v-7c8598d4]:hover{width:21%}
.img_box .HRC .f-img1[data-v-7c8598d4]{top:23%;left:48%}
.img_box .HRC .f-img2[data-v-7c8598d4]{top:37%;left:59%}
.img_box .HRC .f-img3[data-v-7c8598d4]{top:67%;left:59%}
.img_box .HRC .f-img4[data-v-7c8598d4]{top:68%;left:21%}
.img_box .HRC .f-img5[data-v-7c8598d4]{top:39%;left:21%}
.img_box .scenes[data-v-7c8598d4]{position:relative}
.img_box .s-img[data-v-7c8598d4]{position:absolute;width:15%;z-index:2;transition:all .5s;top:21%}
.img_box .s-img[data-v-7c8598d4]:hover{box-shadow:0 1px 5px 2px hsla(180,2%,63%,.1);top:22%}
.img_box .s-img1[data-v-7c8598d4]{left:17%}
.img_box .s-img2[data-v-7c8598d4]{left:34%}
.img_box .s-img3[data-v-7c8598d4]{left:51%}
.img_box .s-img4[data-v-7c8598d4]{left:68%}
.img_box .whitepage[data-v-7c8598d4]{position:relative}
.img_box .whitepage .a-img[data-v-7c8598d4]{width:22%;position:absolute;right:24%;transition:all .2s}
.img_box .whitepage .a-img[data-v-7c8598d4]:hover{right:25%;width:23%}
.img_box .whitepage .a-img1[data-v-7c8598d4]{top:6%}
.img_box .whitepage .a-img2[data-v-7c8598d4]{top:9%}
.img_box .whitepage .a-img3[data-v-7c8598d4]{top:12%}
.img_box .whitepage .a-img4[data-v-7c8598d4]{top:15%}
.img_box .whitepage .a-img5[data-v-7c8598d4]{top:18%}
.img_box img.wp_img[data-v-7c8598d4]{width:10%;position:absolute;top:75%;left:45%;transition:all .5s}
.img_box img.wp_img[data-v-7c8598d4]:hover{width:11%}
.img_box .news[data-v-7c8598d4]{position:relative}
.img_box .news .point[data-v-7c8598d4]{position:absolute;width:18%;height:66%;cursor:pointer}
.img_box .news .point1[data-v-7c8598d4]{top:18%;right:61%}
.img_box .news .point2[data-v-7c8598d4]{top:18%;right:41%}
.img_box .news .point3[data-v-7c8598d4]{top:18%;right:21%}
.f_footer[data-v-7c8598d4]{height:190px;width:100%;background-color:#1e2736}
.f_footer .f_wrap[data-v-7c8598d4]{width:1188px;height:190px;margin:0 auto;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.f_footer .f_wrap div[data-v-7c8598d4]{margin-right:50px;text-align:center}
.f_footer .f_wrap p[data-v-7c8598d4]{color:#fff;margin-top:5px}
.f_footer .f_wrap img[data-v-7c8598d4]{width:30px;transition:all .2s}
.f_footer .f_wrap img[data-v-7c8598d4]:hover{width:35px}
.img_box .news[data-v-7c8598d4]{width:100%;height:580px;background:#f5f6fb;box-sizing:border-box;padding-top:30px}
.img_box .news .news1[data-v-7c8598d4]{width:1160px;height:520px;display:block;margin:0 auto}
.img_box .news .news1 .new-head[data-v-7c8598d4]{font-size:24px;font-family:PingFang-SC-Medium;color:#292929;width:100%;margin:0 auto;text-align:center;margin-bottom:30px}
.img_box .news .news1 .new-head[data-v-7c8598d4]:hover{color:#438bf7}
.img_box .news .news1 .new-middle[data-v-7c8598d4]{width:100%;height:100%}
.img_box .news .news1 .new-middle>div[data-v-7c8598d4]{width:340px;height:390px;background:#fff;float:left;box-shadow:1px 1px 5px 2px rgba(0,0,0,.1);box-sizing:border-box;padding-left:40px;padding-right:40px}
.img_box .news .news1 .new-middle .middle1 p[data-v-7c8598d4]{font-weight:600;font-size:20px;font-family:PingFang-SC-Bold;text-align:center;margin-top:20px;color:#438bf7}
.img_box .news .news1 .new-middle .middle1 p[data-v-7c8598d4]:hover{color:#438bf7}
.img_box .news .news1 .new-middle .middle1 .middle2[data-v-7c8598d4]{margin-top:20px;height:148px;color:#8c8888}
.img_box .news .news1 .new-middle .middle1 .middle2[data-v-7c8598d4]:hover{color:#97aab9}
.img_box .news .news1 .new-middle .middle1 .middle3[data-v-7c8598d4]{margin-top:80px}
.img_box .news .news1 .new-middle .middle1 .middle3[data-v-7c8598d4]:hover{color:#438bf7}
.img_box .news .news1 .new-middle .middle11[data-v-7c8598d4]{margin-left:40px}
.img_box .news .news1 .new-middle .middle1 .middle4[data-v-7c8598d4],.img_box .news .news1 .new-middle .middle1 .middle5[data-v-7c8598d4]{margin-top:50px}
.whitepage .whitepageone[data-v-7c8598d4]{background:#f5f6fb}
.whitepage .whitepage1[data-v-7c8598d4]{height:520px;width:1160px;margin:0 auto}
.whitepage .whitepagetwo[data-v-7c8598d4]{background-color:#fff}
.whitepage .whitepage11[data-v-7c8598d4]{height:520px;width:1160px;margin:0 auto}
.whitepage .whitepage1 .whitepage3[data-v-7c8598d4]{width:375px;height:226px;margin-top:150px;float:left}
.whitepage .whitepage1 .whitepage2[data-v-7c8598d4]{width:567px;margin-top:150px;margin-left:30px;float:left}
.whitepage .whitepage1 .whitepage2 .whitepage4[data-v-7c8598d4]{width:567px;height:116px;font-size:15px;font-family:MicrosoftYaHei;color:#34424d;line-height:20px;margin-top:52px}
.whitepage .whitepage1 .whitepage2 .whitepage5[data-v-7c8598d4]{width:567px;height:50px}
.whitepage .whitepage1 .whitepage2 .whitepage5>div[data-v-7c8598d4]{float:left;margin:10px}
.whitepage .whitepage1 .whitepage2 .whitepage5 .whitepage6 .whitepage8[data-v-7c8598d4]{color:#29363c;font-size:18px}
.whitepage .whitepage1 .whitepage2 .whitepage5 .whitepage6 .whitepage7[data-v-7c8598d4]{color:#96b2c7;font-size:14px}
.whitepage .whitepage1 .whitepage2 .whitepage4[data-v-7c8598d4]:hover,.whitepage .whitepage1 .whitepage2 .whitepage5 .whitepage6 .whitepage7[data-v-7c8598d4]:hover,.whitepage .whitepage1 .whitepage2 .whitepage5 .whitepage6 .whitepage8[data-v-7c8598d4]:hover{color:#438bf7}
.whitepage .whitepage1 .whitepage2 .whitepage5 .whitepage9:hover img[data-v-7c8598d4]{transition:all .5s;transform:scale(1.2)}
.whitepage .whitepage11 .whitepage2 .whitepage5>div[data-v-7c8598d4]{float:right;margin:10px}
.whitepage .whitepage11 .whitepage2[data-v-7c8598d4]{margin-left:80px!important}
.whitepage .whitepage11 .whitepage2 .whitepage5[data-v-7c8598d4]{width:580px}
.img_box .character[data-v-7c8598d4]{position:relative;height:670px}
.img_box .character .character_bg[data-v-7c8598d4]{position:absolute;z-index:0}
.img_box .character .charaintro_box[data-v-7c8598d4]{position:relative;width:75%;margin:0 auto;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around}
.img_box .character .charaintro_box .charaintro[data-v-7c8598d4]{width:30%;text-align:center;margin-top:10%;padding:0 2%}
.img_box .character .charaintro_box .charaintro .cname[data-v-7c8598d4]{font-size:20px;font-weight:600}
.img_box .character .charaintro_box .charaintro img[data-v-7c8598d4]{width:70%;transform-style:preserve-3d}
.img_box .character .charaintro_box .charaintro img[data-v-7c8598d4]:hover{animation:autoMove-data-v-7c8598d4 1s 1}
@keyframes autoMove-data-v-7c8598d4{to{transform:rotateY(1turn)}
}
.img_box .character .charaintro_box .charaintro .ctext[data-v-7c8598d4]{color:#636161;margin-top:5%}
.b_header{width:100%;background:url(/static/image/header_bg.png);background-size:cover}
.b_header .b_wrap{width:720px;height:65px;line-height:65px;margin:0 auto;box-sizing:border-box}
.b_header .b_wrap span{color:#fff;cursor:pointer;font-size:20px;font-weight:600;float:right}
.blog_wrap img{width:100%}
.blog_wrap .blogstr{width:720px;margin:0 auto;text-align:center}
.blog_wrap .blogstr .date{color:#c4a066;margin-top:40px}
.blog_wrap .blogstr .title{font-size:40px;font-weight:600;margin:20px 0 30px}
.blog_wrap .blogstr .text{line-height:35px;font-size:22px;margin:25px 0}
.b_footer{height:190px;width:100%;background-color:#1e2736}
.b_footer .b_wrap{width:1188px;height:190px;margin:0 auto;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.b_footer .b_wrap div{margin-right:50px;text-align:center}
.b_footer .b_wrap p{color:#fff;margin-top:5px}
.b_footer .b_wrap img:hover{width:35px}

